<h2>Sign up now!</h2>

<form action="/signup" method="POST">
    <label for="username">Username: </label>
    <input type="text" name="username" placeholder="enter username">
    <label for="">Password: </label>
    <input type="password" name="password" placeholder="enter password">

    <button type="submit">Sign up!</button>
</form>